<app-form
  #authForm
  [config]="formConfig"
  title="Update Data"
  (formSubmit)="onUpdateData($event)"
  [shouldResetForm]="shouldResetForm()"
  [isAuthForm]="true"
  [submitButtonText]="'Update Data'"
>
  <!-- Form-level error messages -->
  <div slot="form-errors">
    @if (authForm.hasFormError('passwordNotEqual')) {
    <p class="text-error text-sm mb-2 text-center">
      {{ authForm.getFormError('passwordNotEqual') }}
    </p>
    }
  </div>

  <!-- Additional fields slot for future extensions -->
  <div slot="additional-fields">
    <label class="flex items-center gap-2">
      <input
        type="checkbox"
        class="checkbox checkbox-primary"
        [checked]="checked()"
        (change)="checked.set($event.target.checked)"
      />
      <span>Replace Image to User</span>
    </label>
    @if (checked()) {
    <input
      type="file"
      class="file-input-ghost file-input mt-2"
      (change)="onSelectImage($event)"
      accept="image/*"
    />
    }
  </div>
  <!-- Additional content -->
  <button
    slot="additional-content"
    class="btn btn-accent w-full"
    type="button"
    routerLink="../passwords"
  >
    Back
  </button>
</app-form>
