<app-form
  [config]="formConfig"
  title="Forgot Password"
  (formSubmit)="onForgotPassword($event)"
  [shouldResetForm]="shouldResetForm()"
  [isAuthForm]="true"
  [submitButtonText]="'Forgot Password'"
>

  <!-- Additional content -->
  <div slot="additional-content" class="flex justify-between mt-2">
    <button class="btn btn-accent" type="button" routerLink="../login">Login</button>
    <button class="btn btn-base-300" type="button" routerLink="../register">Register</button>
  </div>
</app-form>
