<app-auth-form
  [config]="formConfig"
  title="Login"
  (formSubmit)="onLogin($event)"
>
  <!-- Submit button -->
  <div slot="submit-button" class="card-actions justify-end">
    <button class="btn btn-primary w-full" type="submit">Login</button>
  </div>

  <!-- Additional content -->
  <div slot="additional-content" class="flex justify-between mt-2">
    <button class="btn btn-accent" routerLink="../register">Register</button>
    <button class="btn btn-base-300">Forgot Password</button>
  </div>
</app-auth-form>
