@if (getModal()) {
<dialog class="modal" [open]="getModal()" (close)="closeModal()">
  <div class="modal-box max-w-md">
    <div method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" (click)="closeModal()">
        ✕
      </button>
    </div>

    @if(getModalType() === 'view-password-data') {
    <div class="flex flex-col gap-2 justify-center items-center">
      <h1 class="text-2xl font-bold">Password Data</h1>
      <p class="text-sm text-gray-500">
        Password:
        <span class="font-bold cursor-pointer" (click)="copyPassword(password())">{{ password() }}</span>
      </p>
    </div>
    } @else {
    <!-- Generic Form Content -->
    <app-form
      [config]="getFormConfig()"
      [title]="getTitle()"
      [submitButtonText]="getSubmitButtonText()"
      [submitButtonColor]="getSubmitButtonColor()"
      [isAuthForm]="false"
      [shouldResetForm]="shouldResetForm()"
      (formSubmit)="onFormSubmit($event)"
    >
      <!-- Additional fields slot for future extensions -->
      <div slot="additional-fields">
        @if (getModalType() === 'add-category' || getModalType() === 'update-data-category') {
        <label class="flex items-center gap-2">
          <input
            id="checkbox-add-image-to-category"
            type="checkbox"
            class="checkbox checkbox-primary"
            [checked]="checked()"
            (change)="checked.set($event.target.checked)"
          />
          <span class="text-sm font-bold">Select Image</span>
        </label>
        @if (checked()) {
        <input
          id="file-input-add-image-to-category"
          type="file"
          class="file-input-ghost file-input mt-2"
          (change)="onSelectImage($event)"
          accept="image/*"
        />
        } }
      </div>
    </app-form>
    }
  </div>
</dialog>
}
