<div class="bg-base-100 shadow-lg p-4">
  <div class="flex gap-2 items-center justify-around md:justify-between">
    <div class="flex flex-col gap-2">
      <h2 class="text-lg font-bold">{{ category().name }}</h2>
    </div>
    <div class="w-32">
      <figure
        class="w-full h-32 bg-contain bg-center bg-no-repeat"
        [style.background-image]="getCategoryBackgroundImage(category().image)"
      ></figure>
    </div>
  </div>

  <div class="mt-4 flex justify-between gap-2 items-center">
    <div class="flex items-center gap-1">
      <span class="tooltip cursor-pointer tooltip-primary" data-tip="Edit Category">
        <app-icon name="edit" color="#1E90FF" (click)="updateCategory()"></app-icon>
      </span>
      <span class="tooltip cursor-pointer tooltip-error" data-tip="Delete Category" (click)="deleteCategory()">
        <app-icon name="trash" color="#DC143C"></app-icon>
      </span>
    </div>
  </div>
</div>
