<app-shared-page
  [page]="page()!"
  [paginationData]="paginationData()!"
  [route]="'/passwords'"
  class="h-full"
>
  <ng-container add-button>
    <button class="btn btn-primary" (click)="addPassword()">Add New Password</button>
  </ng-container>

  <ng-container manage-button>
    <button class="btn btn-secondary" (click)="manageCategories()">Manage Categories</button>
  </ng-container>

  <ng-container mobile-buttons>
    <button class="btn btn-primary btn-sm" (click)="addPassword()">
      <app-icon name="plus" size="16"></app-icon>
    </button>
    <button class="btn btn-secondary btn-sm" (click)="manageCategories()">
      <app-icon name="list" size="16"></app-icon>
    </button>
  </ng-container>

  <ng-container item>
    @defer (on idle) { @for (password of passwords(); track password.id) {
    <app-password [password]="password"></app-password>
    } } @loading {
    <app-loading></app-loading>
    }
  </ng-container>

  <ng-container empty>
    @if (passwords().length === 0) {
    <div class="col-span-full text-center py-12">
      <app-icon name="lock" size="64" customClass="text-gray-300 mx-auto mb-4"></app-icon>
      <p class="text-gray-500 text-lg">No passwords found</p>
      <button class="btn btn-primary mt-4" (click)="addPassword()">Add your first password</button>
    </div>
    }
  </ng-container>
</app-shared-page>
