<div class="flex justify-center items-center h-screen" [class.h-screen]="isAuthForm()">
  <div class="card w-96 bg-base-100 shadow-xl mt-20 mb-20">
    <form class="card-body" (ngSubmit)="onSubmit()" [formGroup]="myForm">
      <!-- Title slot -->
      <h2 class="card-title text-center">{{ title() || 'Form' }}</h2>

      <!-- Fields container -->
      <div class="items-center mt-2">
        <!-- Dynamic fields -->
        @for (field of config().fields; track field.name) {
        <label
          class="input input-bordered flex items-center mb-2 w-full"
          [class.input-error]="isValidField(field.name)"
        >
          <!-- Name icon -->
          @if (field.type === 'text' && field.name === 'name') {
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="w-4 h-4 opacity-70"
          >
            <path
              d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z"
            />
          </svg>
          }

          <!-- Email icon -->
          @if (field.type === 'email' && field.name === 'email') {
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="w-4 h-4 opacity-70"
          >
            <path
              d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z"
            />
            <path
              d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z"
            />
          </svg>
          }

          <!-- Password icon -->
          @if (field.type === 'password') {
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="w-4 h-4 opacity-70"
          >
            <path
              fill-rule="evenodd"
              d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
              clip-rule="evenodd"
            />
          </svg>
          }

          <!-- Category icon and select -->
          @if (field.type === 'select') {
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="h-4 w-4 opacity-70"
          >
            <path
              fill-rule="evenodd"
              d="M3.5 2A1.5 1.5 0 0 0 2 3.5v9A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 12.5 2h-9ZM3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-9Z"
              clip-rule="evenodd"
            />
            <path
              fill-rule="evenodd"
              d="M4.5 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5ZM4.5 8.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5ZM4.5 10.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5Z"
              clip-rule="evenodd"
            />
          </svg>
          <select id="category" class="grow bg-transparent" [formControlName]="field.name">
            <option value="" disabled for="category">{{ field.placeholder }}</option>
            @for (option of field.options; track option.value) {
            <option [value]="option.value">{{ option.label }}</option>
            }
          </select>
          }
          @else {
          <!-- Input field for non-select types -->
          <input
            [type]="field.type"
            [id]="field.name"
            class="grow"
            [placeholder]="field.placeholder"
            autocomplete="on"
            [formControlName]="field.name"
          />
          }
        </label>

        <!-- Field error message -->
        @if (isValidField(field.name)) {
        <p class="text-error text-sm mb-2 text-center">
          {{ getFieldError(field.name) }}
        </p>
        } }

        <!-- Form-level error messages -->
        <ng-content select="[slot=form-errors]"></ng-content>

        <ng-content select="[slot=additional-fields]"></ng-content>
      </div>

      <!-- Submit button -->
      <div class="card-actions justify-end">
        <button
          class="btn w-full disabled:opacity-50"
          [class]="submitButtonColor()"
          type="submit"
          [disabled]="isDisabledSubmitButton()"
        >
          {{ submitButtonText() || 'Submit' }}
        </button>
      </div>

      <ng-content select="[slot=additional-content]"></ng-content>

      @if(!isAuthForm()) {
      <!-- Additional content -->
      <div class="card-actions justify-end">
        <button class="btn btn-accent w-full" (click)="onCancel()">Cancel</button>
      </div>
      }
    </form>
  </div>
</div>
