<div class="card bg-base-100 shadow-sm">
  <figure>
    <img
      src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
      alt="Shoes"
      class="w-full h-20 object-cover"
      />
  </figure>
  <div class="card-body">
    <h2 class="card-title">{{ password().name }}</h2>
    <p class="badge badge-accent">{{ password().category.name }}</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary" (click)="showPassword()">Show Password</button>
    </div>
  </div>
</div>
